<h2 mat-dialog-title class="card-header">የይልፍ ቃል መቀየሪያ</h2>
<form [formGroup]="changePWForm" class="signin-form">
  <div mat-dialog-content>
    <div class="alert alert-danger" [hidden]="!error">{{error}}</div>
      <div class="form-group col-12 mt-3">
        <input type="hidden" formControlName="username" maxlength="20" class="form-control">
        <label class="form-control">መለያ ስም : {{un}}</label>
      </div>
    <div class="form-group col-12">
      <input id="password-field" formControlName="old_password"  [type]="showPassword ? 'text' : 'password'" class="form-control" required>
      <label class="form-control-placeholder" for="old_password">የይለፍ ቃል</label>
      <span
      (click)="showHidePassword()"
      class="fa fa-fw fa-eye field-icon"
      style="cursor: pointer"
    ></span>
    </div>
      <div class="form-group col-12">
        <input id="password-field" formControlName="password"  [type]="showPassword ? 'text' : 'password'" class="form-control" required>
        <label class="form-control-placeholder" for="password">አዲሱ የይለፍ ቃል</label>
        <span
        (click)="showHidePassword()"
        class="fa fa-fw fa-eye field-icon"
        style="cursor: pointer"
      ></span>
        <app-password-strength for ="password"
        [passwordToCheck]="changePWForm.value.password"
        (passwordStrength)="passwordValid($event)"
        ></app-password-strength>
      </div>
      <div class="form-group col-12">
        <input id="password_confirmation" formControlName="password_confirmation"  [type]="showPassword ? 'text' : 'password'" class="form-control"
          required>
        <label class="form-control-placeholder" for="password_confirmation">ድጋሜ የይለፍ ቃል</label>
        <span
        (click)="showHidePassword()"
        class="fa fa-fw fa-eye field-icon"
        style="cursor: pointer"
      ></span>
        <app-password-strength for ="password_confirmation"
        [passwordToCheck]="changePWForm.value.password_confirmation"
        (passwordStrength)="passwordValid($event)"
        ></app-password-strength>
      </div>
  </div>
  <div mat-dialog-actions>
    <div class="form-group input-group" style="display: flex; justify-content:center">
      <div mat-dialog-actions >
        <button mat-button class="btn btn-success rounded" [disabled]="!changePWForm.valid"
          (click)="changePassword()">የይለፍ ቃል ቀይር</button>
        <button class="btn btn-danger" mat-button mat-dialog-close>ዝጋ</button>
      </div>
    </div>
  </div>
</form>
