.reportContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.dateSelector {
  margin: 3px;
}

/* mat-header-cell{
  font-size: 1.2em;
  font-weight: bold;
} */
/* .page-summary {
  font-weight: bold;
  text-decoration: underline solid 3px;
}
mat-form-field {
  margin-right: 12px;
}

.mat-form-field-infix {
  width: auto !important;
}

my-flex {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 5px;
}
@media (min-width: 600px) {
  .my-flex {
    grid-template-columns: 1fr 350px 350px 1fr;
  }
} */
