<div class="container" *ngIf="hasPermission('Unload-To-Store')">
  <h2 mat-dialog-title class="card-header">ወደ ስቶር ገቢ ዕቃ መመዘገቢያ</h2>
  <form
    *ngIf="hasPermission('Store-Item-Create')"
    [formGroup]="unLoadForm"
    class="signin-form"
  >
    <div mat-dialog-content>
      <div class="alert alert-danger" [hidden]="!error">{{ error }}</div>
      <div class="row from-group mt-2">
        <div class="col-6">
          <label class="label" for="itemName">የዕቃ ስም</label>

          <input
            [attr.disabled]="true"
            type="text"
            min="1"
            formControlName="itemName"
            class="form-control"
            required
          />
          <input type="hidden" formControlName="itemId" />
          <input type="hidden" formControlName="load_id" />
        </div>
        <div class="col-6">
          <label class="label" for="store_id">መጋዘን ምረጥ</label>
          <select
            formControlName="store_id"
            required
            (change)="selectStore($event)"
            class="form-control"
          >
            <option *ngFor="let store of stores" value="{{ store.id }}">
              {{ store.storeName }}
            </option>
          </select>
        </div>
      </div>
      <div class="form-group row mt-2">
        <div class="col-6">
          <label class="label" for="quantity">የተጫነው ብዛት</label>
          <input
            [attr.disabled]="true"
            type="number"
            min="1"
            formControlName="quantity"
            class="form-control"
            required
          />
        </div>
        <div class="col-6">
          <label class="label" for="unload_quantity">የተራገፈው ብዛት</label>
          <input
            type="number"
            min="1"
            formControlName="unload_quantity"
            class="form-control"
            required
          />
        </div>
      </div>
      <div class="form-group mt-2 row">
        <div class="col-6">
          <label class="label" for="plateNumber">ሰሌዳ ቁጥር </label>
          <input
            type="text"
            formControlName="plateNumber"
            [attr.disabled]="true"
            class="form-control"
          />
        </div>
        <div class="input-group col-6">
          <div mat-dialog-actions>
            <button
              mat-button
              class="btn btn-success rounded"
              [disabled]="(!unLoadForm.valid || isClicked)"
              (click)="unloadItemToStore()"
            >
              ወደ ስቶር ገቢ መዝግብ
            </button>
            <button class="btn btn-danger" mat-button mat-dialog-close>
              ዝጋ
            </button>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
<div
  *ngIf="!hasPermission('Unload-To-Store')"
  class="container card text-center"
>
    <h5 class="text-danger">ይህንን አገልግሎት ለማገኘት የሚያስችል ፈቃድ የለህም፡፡</h5>
</div>
