<div *ngIf="hasPermission('Transfer-List')">
  <h1 *ngIf="loading" class="alert alert-success text-center">
    <mat-progress-spinner
      style="margin: 0 auto"
      class="example-margin"
      color="warn"
      mode="indeterminate"
      value="20"
      diameter="30"
    >
    </mat-progress-spinner>
    Loading...
  </h1>

  <div class="container mt-2">
    <div class="row" style="background-color: white">
      <div fxLayout fxLayoutAlign="center center" class="input-group col-sm">
        <a
          *ngIf="hasPermission('Transfer-Create')"
          mat-button
          class="btn btn-warning pr-3 mr-4"
          (click)="openDialog()"
        >
          <i class="fa fa-plus-circle"></i> ሒሳብ ማስተላለፊያ
        </a>

        <mat-form-field fxFlex="40%" *ngIf="dataSource.data.length > 0">
          <input
            matInput
            type="text"
            class="search"
            placeholder="ፈልግ"
            [(ngModel)]="filterData"
            (keyup)="doFilter()"
          />
        </mat-form-field>
        <i class="fas fa-search mr-2 text-warning"></i>
      </div>
    </div>
  </div>
  <div *ngIf="dataSource.data.length > 0" class="card myheader">
    የተላለፈ የሒሳብ ዝርዝር መረጃ
  </div>
  <div class="table-responsive">
    <table
      *ngIf="dataSource.data.length > 0"
      class="table-sm table-hover table-bordered mat-elevation-z8"
      mat-table
      [dataSource]="dataSource"
      matSort
      matSortStart="desc"
    >
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>ተ.ቁ</th>
        <td mat-cell *matCellDef="let item; let i = index">
          {{ paginatorRef.pageIndex * paginatorRef.pageSize + (i + 1) }}
        </td>
      </ng-container>
      <!-- <ng-container matColumnDef="bankName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>የባንክ ስም</th>
      <td mat-cell *matCellDef="let element">{{ element.bankName }}</td>
    </ng-container> -->
      <!-- <ng-container matColumnDef="accountNumber">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>ሒሳብ ቁጥር</th>
      <td mat-cell *matCellDef="let element">{{ element.accountNumber }}</td>
    </ng-container> -->
      <ng-container matColumnDef="amount">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>ገንዘብ መጠን</th>
        <td mat-cell *matCellDef="let element">
          {{ element.amount | number }}
        </td>
      </ng-container>
      <!-- <ng-container matColumnDef="inOut">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>ገቢ/ወጪ</th>
      <td mat-cell *matCellDef="let element">{{ element.inOut }}</td>
    </ng-container> -->
      <ng-container matColumnDef="reason">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>ምክንያት</th>
        <td mat-cell *matCellDef="let element">{{ element.reason }}</td>
      </ng-container>
      <ng-container matColumnDef="transferTo">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>የተላከለት ደንበኛ</th>
        <td mat-cell *matCellDef="let element" title="{{ element.reason }}">
          {{ element.transferTo }}
        </td>
      </ng-container>
      <ng-container matColumnDef="created_at">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>ቀን</th>
        <td
          mat-cell
          *matCellDef="let element"
          title="{{ element.created_at | date }}"
        >
          {{ element.created_at | date }}
        </td>
      </ng-container>
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>ድርጊት</th>
        <td mat-cell *matCellDef="let element">
          <button mat-button [matMenuTriggerFor]="menu">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <!-- <button
              *ngIf="hasPermission('Transfer-Detail')"
              mat-icon-button
              color="primary"
              (click)="viedDetail(element.id)"
            >
              <mat-icon class="mat-18">reorder</mat-icon>
            </button> -->
            <button
              *ngIf="hasPermission('Transfer-Edit')"
              mat-icon-button
              color="accent"
              (click)="updateRecord(element)"
            >
              <mat-icon class="mat-18">edit</mat-icon>
            </button>
            <button
              *ngIf="hasPermission('Transfer-Delete')"
              mat-icon-button
              color="warn"
              (click)="deleteRecord(element)"
            >
              <mat-icon class="mat-18">delete</mat-icon>
            </button>
          </mat-menu>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
    <mat-paginator
      #paginatorRef
      class="col-sm"
      [pageSize]="100"
      [pageSizeOptions]="[10, 25, 50, 100]"
    ></mat-paginator>
  </div>
  <div
    class="container card text-center"
    *ngIf="dataSource.data.length == 0 && !loading"
  >
    <h3 class="text-danger mt-5">ምንም አይነት የተመዘገበ መረጃ የለም፡፡</h3>
  </div>
</div>
<div
  *ngIf="!hasPermission('Transfer-List')"
  class="container card text-center mt-5 pt-2"
>
  <h3 class="text-danger">ይህንን አገልግሎት ለማገኘት የሚያስችል ፈቃድ የለህም፡፡</h3>
</div>
