/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
/* table {
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  min-width: 500px;
} */
.number-align-right {
  text-align: right;
  padding-right: "10px";
}

th.mat-header-cell {
  text-align: left;
  max-width: 300px;
  font-size: 1.1em;
  font-weight: bold;
}
.detail {
  padding-left: 1.5rem;
  text-decoration-line: underline;
  font-family: "Courier New", Courier, monospace;
  font-size: 1.2em;
  display: block;
}
.title {
  font-size: 1.3em;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.adviseImage {
  height: 60%;
  width: 80%;
}
.adviseImage:hover {
  height: 85%;
  width: 100%;
  transition: ease-in-out;
  transform-style: flat;
  position: relative;
  box-shadow: 0px 1px 5px #f7f7f7;
}

tr.mat-row:hover {
  background: #f4f4f4;
}

th {
  background: #fbfcfcee;
  color: #fff;
  text-transform: uppercase;
  font-size: 12px;
}

mat-header-cell {
  font-size: 1.2em;
  font-weight: bold;
}

.mat-footer-cell {
  color: #ffffff;
  background-color: #b95676;
  font-weight: 100;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.mat-header-cell {
  /* background: var(--background-color) */
  color: #ffffff;
  background-color: #b95676;
}
/* all angular rows color affected by the following*/

.mat-row:nth-child(even) {
  background-color: #e0ffffee;
}

.mat-row:nth-child(odd) {
  background-color: #fdfdfd;
}

::ng-deep .my-custom-panel {
  width: 50vw;
  border: 5px solid red;

  @media screen and (max-width: 900px) {
    width: 85vw;
  }
  @media screen and (max-width: 500px) {
    width: 90vw;
  }
}
mat-form-field {
  width: 100%;
  margin-bottom: -1.25em;
}
.mat-cell {
  font-size: 12px;
  text-align: center;
  border-right: 1px dotted rgb(196, 193, 193) !important;
  z-index: 100;
}
.mat-footer-cell,
.mat-header-cell {
  text-align: center;
  z-index: 100;
  border-right: 1px dotted rgb(250, 249, 249);
}
/* 
.mat-table__wrapper 
.mat-table {
  min-width: auto !important;
  width: 100% !important;
} 
*/

/* .mat-table .mat-calendar-table:not() {
  overflow-x: scroll;
  display: table;
  width: 100%;
} */

/* table {
  table-layout: fixed !important;
  width: 100% !important;
} */

.mat-table {
  table-layout: auto !important;
  width: 100% !important;
  display: table;
}

.mat-header-row {
  width: 100%;
}
.mat-row {
  width: 100%;
}

.mat-elevation-z8 {
  overflow-x: auto;
}
.myheader {
  font-size: large;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  padding: 10px;
  text-align: center;
  margin-top: 5px;
  background-color: azure;
  color: rgba(5, 124, 74, 0.726);
}
@media print {
  .noprint {
    display: none !important;
  }
}
