<div class="container mt-2" *ngIf="hasPermission('Account-List')">
  <div class="container">
    <h1 *ngIf="loading" class="alert alert-success text-center">
      <mat-progress-spinner
        style="margin: 0 auto"
        class="example-margin"
        color="warn"
        mode="indeterminate"
        value="20"
        diameter="30"
      >
      </mat-progress-spinner>
      Loading...
    </h1>
    <div class="row" style="background-color: white">
      <div
        fxLayout
        fxLayoutAlign="center center"
        class="myStyle input-group col-sm"
      >
        <a
          *ngIf="hasPermission('Account-Create')"
          mat-button
          class="btn btn-warning pr-3 mr-4"
          (click)="openDialog()"
        >
          <i class="fa fa-plus-circle"></i> አዲስ አካውንት
        </a>
        <a
          *ngIf="hasPermission('Account-Transfer')"
          mat-button
          class="btn btn-primary pr-3 mr-4"
          (click)="openTransferDialog()"
        >
          <mat-icon class="mat-18">transform</mat-icon> ከባንክ ባንክ ማዘዋውሪያ
        </a>
        <!-- <a
          *ngIf="hasPermission('Account-Reset-All')"
          mat-button
          class="btn btn-danger pr-3 mr-4"
          (click)="accountResetAll()"
        >
          <mat-icon>restore</mat-icon> Reset All</a
        > -->
        <mat-form-field *ngIf="dataSource.data.length > 0" fxFlex="40%">
          <input
            matInput
            type="text"
            class="search"
            placeholder="ፈልግ"
            [(ngModel)]="filterData"
            (keyup)="doFilter()"
          />
        </mat-form-field>
        <i class="fas fa-search mr-2 text-warning"></i>
        <ng-container>
          <!-- <button mat-raised-button (click)="exporter.exportTable('csv')">Csv</button>
          <button mat-raised-button (click)="exporter.exportTable('json')">Json</button>
          <button mat-raised-button (click)="exporter.exportTable('txt')">Txt</button> -->
          <mat-header-cell mat-footer-cell *matFooterCellDef> </mat-header-cell>
        </ng-container>
      </div>
    </div>
  </div>
  <!-- <button mat-button (click)="exporter.exportTable('csv')"></button> -->
  <div class="my-container mat-elevation-z8">
    <mat-table
      [dataSource]="dataSource"
      matSort
      matSortStart="desc"
    >
      <ng-container matColumnDef="SNo">
        <mat-header-cell *matHeaderCellDef> ተ.ቁ. </mat-header-cell>
        <mat-cell *matCellDef="let item; let i = index">
          {{ paginatorRef.pageIndex * paginatorRef.pageSize + (i + 1) }}
        </mat-cell>
        <mat-header-cell mat-footer-cell *matFooterCellDef> </mat-header-cell>
      </ng-container>
      <ng-container matColumnDef="accountOwner">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          የሒሳቡ ባለቤት
        </mat-header-cell>
        <mat-cell *matCellDef="let element">
          {{ element.accountOwner }}</mat-cell
        >
        <mat-header-cell mat-footer-cell *matFooterCellDef> </mat-header-cell>
      </ng-container>
      <ng-container matColumnDef="bankName">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          የባንኩ ስም
        </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{ element.bankName }}</mat-cell>
        <mat-header-cell mat-footer-cell *matFooterCellDef> </mat-header-cell>
      </ng-container>

      <ng-container matColumnDef="created_at">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          የተመዘገበበት ቀን
        </mat-header-cell>
        <mat-cell *matCellDef="let element">
          {{ element.created_at | date }}
        </mat-cell>
        <mat-header-cell mat-footer-cell *matFooterCellDef> </mat-header-cell>
      </ng-container>
      <ng-container matColumnDef="country">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          የሚገኝበት ሀገር
        </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{ element.country }} </mat-cell>
        <mat-header-cell mat-footer-cell *matFooterCellDef> </mat-header-cell>
      </ng-container>
      <ng-container matColumnDef="branchName">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          ቅርንጫፍ
        </mat-header-cell>
        <mat-cell *matCellDef="let element">
          {{ element.branchName }}
        </mat-cell>
        <mat-header-cell mat-footer-cell *matFooterCellDef> </mat-header-cell>
      </ng-container>

      <ng-container matColumnDef="accountNumber">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          የሒሳብ ቁጥር (አካውንት)
        </mat-header-cell>
        <mat-cell *matCellDef="let element">
          {{ element.accountNumber }}
        </mat-cell>
        <mat-header-cell mat-footer-cell *matFooterCellDef>
          ድምር
        </mat-header-cell>
      </ng-container>

      <ng-container matColumnDef="balance">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          ባላንስ
        </mat-header-cell>
        <mat-cell *matCellDef="let element">
          {{ element.balance | number }}
        </mat-cell>
        <mat-header-cell
          mat-footer-cell
          *matFooterCellDef
          class="fw-bold number-align-right"
          >{{ totalBalance | number }}
        </mat-header-cell>
      </ng-container>
      <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef> ድርጊት </mat-header-cell>
        <mat-cell *matCellDef="let element">
          <button
            *ngIf="hasPermission('Account-Detail')"
            mat-icon-button
            color="primary"
            (click)="viewDetail(element.id)"
          >
            <mat-icon class="mat-18">reorder</mat-icon>
          </button>
          <button
            *ngIf="hasPermission('Account-Edit')"
            mat-icon-button
            color="accent"
            (click)="updateRecord(element)"
          >
            <mat-icon class="mat-18">edit</mat-icon>
          </button>
          <button
            *ngIf="hasPermission('Account-Delete')"
            mat-icon-button
            color="warn"
            (click)="deleteRecord(element)"
          >
            <mat-icon class="mat-18">delete</mat-icon>
          </button>
        </mat-cell>
        <mat-header-cell mat-footer-cell *matFooterCellDef> </mat-header-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
      <mat-footer-row *matFooterRowDef="displayedColumns"></mat-footer-row>
    </mat-table>
    <mat-paginator
      #paginatorRef
      class="col-sm"
      [pageSize]="100"
      [pageSizeOptions]="[10, 25, 50, 100]"
    ></mat-paginator>
  </div>

  <div
    class="container card text-center"
    *ngIf="dataSource.data.length == 0 && !loading"
  >
    <h5 class="text-danger">ምንም አይነት የተመዘገበ መረጃ የለም፡፡</h5>
  </div>
</div>

<div *ngIf="!hasPermission('Account-List')" class="container card text-center">
  <h5 class="text-danger">ይህንን አገልግሎት ለማገኘት የሚያስችል ፈቃድ የለህም፡፡</h5>
</div>
