<h2 mat-dialog-title class="card-header">ከመጋዘን ወደ መጋዘን ዕቃ ማዘዋወሪያ</h2>
<!-- <form #registerItemForm="ngForm" (ngSubmit)="onSubmit()"  class="signin-form"> -->
<form
  *ngIf="hasPermission('Item-Transfer')"
  [formGroup]="itemTransferForm"
  class="signin-form"
>
  <div mat-dialog-content>
    <div class="alert alert-danger" [hidden]="!error">{{ error }}</div>

    <div class="row">
      <div class="form-group mt-3 col-6">
        <label class="label" for="store_from">ከ መጋዘን ምርጥ</label>
        <!-- <input type="text" min="1" formControlName="store_from" disabled="" class="form-control" required> -->
        <select
          formControlName="store_from"
          required
          (change)="selectFromStore($event)"
          class="form-control"
        >
          <option *ngFor="let store of stores" value="{{ store.id }}">
            {{ store.storeName }}
          </option>
        </select>
      </div>
      <div class="form-group mt-3 col-6">
        <label class="label" for="store_to">ወደ መጋዘን ምርጥ</label>

        <select
          formControlName="store_to"
          required
          (change)="selectToStore($event)"
          class="form-control"
        >
          <option *ngFor="let store of stores" value="{{ store.id }}">
            {{ store.storeName }}
          </option>
        </select>
      </div>
    </div>
    <div class="row mt-2">
      <div class="from-group col-6">
        <select
          autofocus
          formControlName="itemId"
          required
          class="form-control"
        >
          <option disabled *ngFor="let item of items" value="{{ item.id }}">
            {{ item.itemName }} ({{ item.brand }})
          </option>
        </select>
        <!-- <label class="form-control-placeholder" for="itemId">ዕቃ ምርጥ</label> -->
        <input type="hidden" formControlName="store_item_id" />
      </div>
      <div class="form-group col-6">
        <input
          type="number"
          min="1"
          formControlName="quantity"
          class="form-control"
          required
        />
        <label class="form-control-placeholder" for="quantity">ብዛት</label>
        <input type="hidden" formControlName="prevQty" />
      </div>
    </div>

    <div class="row">
      <div class="form-group mt-2">
        <textarea formControlName="remark" class="form-control"></textarea>
        <label class="form-control-placeholder" for="remark">መግለጫ</label>
      </div>
    </div>
  </div>
  <div mat-dialog-actions>
    <div class="form-group input-group">
      <div mat-dialog-actions>
        <button
          mat-button
          class="btn btn-success rounded"
          [disabled]="!itemTransferForm.valid || isClicked"
          (click)="transferStoreItem()"
        >
          ዕቃ አዘዋውር
        </button>
        <button class="btn btn-danger" mat-button mat-dialog-close>ዝጋ</button>
      </div>
    </div>
  </div>
</form>

<div *ngIf="!hasPermission('Item-Transfer')" class="container card text-center">
    <h5 class="text-danger">ይህንን አገልግሎት ለማገኘት የሚያስችል ፈቃድ የለህም፡፡</h5>
</div>
